* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.py-4 {
    padding-top: 1.5rem !important;
    padding-right: 150px;
    padding-bottom: 1.5rem !important;
}

.product-table-heading {
    display: flex;
    justify-content: space-between;
    width: 1290px;
}

.product-table-heading .cart-clear {
    color: rgb(53, 119, 240);
    font-size: 14px;
    height: 51px;
    width: 121.65625px;
}

.axil-product-table thead {
    background-color: rgb(246, 247, 251);
    display: table-header-group;
}

.axil-product-table.axil-cart-table th:first-child, .axil-product-table.axil-cart-table td:first-child {
    padding-bottom: 18px;
    padding-left: 0px;
    width: 73.109375px;
}

.axil-product-table thead th {
    border-style: none;
    font-size: 20px;
    font-weight: 500;
    height: 70px;
    line-height: 34px;
    padding-bottom: 18px;
    padding-left: 15px;
}

.axil-product-table.axil-cart-table th:last-child, .axil-product-table.axil-cart-table td:last-child {
    -webkit-border-horizontal-spacing: 0px;
-webkit-border-vertical-spacing: 0px;
-webkit-font-smoothing: antialiased;
background-color: rgba(0, 0, 0, 0);
border-bottom-color: rgb(41, 41, 48);
border-bottom-left-radius: 0px;
border-bottom-right-radius: 6px;
border-bottom-style: none;
border-bottom-width: 0px;
border-collapse: collapse;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(41, 41, 48);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(41, 41, 48);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(41, 41, 48);
border-top-left-radius: 0px;
border-top-right-radius: 6px;
border-top-style: none;
border-top-width: 0px;
box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 9999px inset;
box-sizing: border-box;
caption-side: bottom;
color: rgb(41, 41, 48);
display: table-cell;
font-family: "DM Sans", sans-serif;
font-size: 20px;
font-weight: 500;
height: 70px;
line-height: 34px;
padding-bottom: 18px;
padding-left: 15px;
padding-right: 50px;
padding-top: 18px;
text-align: right;
text-transform: capitalize;
vertical-align: bottom;
width: 233.3125px;
}

.axil-product-table tbody td.product-remove .remove-wishlist {
    -webkit-border-horizontal-spacing: 0px;
-webkit-border-vertical-spacing: 0px;
-webkit-font-smoothing: antialiased;
background-color: rgb(246, 247, 251);
border-bottom-color: rgb(246, 247, 251);
border-bottom-left-radius: 50%;
border-bottom-right-radius: 50%;
border-bottom-style: solid;
border-bottom-width: 2px;
border-collapse: collapse;
border-left-color: rgb(246, 247, 251);
border-left-style: solid;
border-left-width: 2px;
border-right-color: rgb(246, 247, 251);
border-right-style: solid;
border-right-width: 2px;
border-top-color: rgb(246, 247, 251);
border-top-left-radius: 50%;
border-top-right-radius: 50%;
border-top-style: solid;
border-top-width: 2px;
box-sizing: border-box;
caption-side: bottom;
color: rgb(0, 0, 0);
cursor: auto;
display: block;
font-family: "DM Sans", sans-serif;
font-size: 12px;
font-weight: 500;
height: 32px;
line-height: 30px;
outline-color: rgb(0, 0, 0);
outline-style: none;
outline-width: 0px;
text-align: center;
text-decoration: none;
transition-delay: 0s;
transition-duration: 0.3s;
transition-property: all;
transition-timing-function: ease;
width: 32px;
}

.axil-product-table tbody td.product-thumbnail {
    -webkit-border-horizontal-spacing: 0px;
-webkit-border-vertical-spacing: 0px;
-webkit-font-smoothing: antialiased;
background-color: rgba(0, 0, 0, 0);
border-bottom-color: rgb(246, 247, 251);
border-bottom-style: solid;
border-bottom-width: 2px;
border-collapse: collapse;
border-left-color: rgb(119, 119, 119);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(119, 119, 119);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(119, 119, 119);
border-top-style: none;
border-top-width: 0px;
box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 9999px inset;
box-sizing: border-box;
caption-side: bottom;
color: rgb(119, 119, 119);
display: table-cell;
font-family: "DM Sans", sans-serif;
font-size: 20px;
font-weight: 500;
height: 111px;
line-height: 34px;
min-width: 130px;
padding-bottom: 15px;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
text-align: start;
vertical-align: middle;
width: 130px;
}

.axil-product-table tbody td.product-thumbnail a {
    -webkit-border-horizontal-spacing: 0px;
-webkit-border-vertical-spacing: 0px;
-webkit-font-smoothing: antialiased;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
border-collapse: collapse;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
box-sizing: border-box;
caption-side: bottom;
color: rgb(41, 41, 48);
cursor: auto;
display: block;
font-family: "DM Sans", sans-serif;
font-size: 20px;
font-weight: 500;
height: 80px;
line-height: 34px;
outline-color: rgb(41, 41, 48);
outline-style: none;
outline-width: 0px;
text-align: start;
text-decoration: none;
width: 100px;
}

.axil-product-table tbody td.product-thumbnail a img {
    -webkit-border-horizontal-spacing: 0px;
-webkit-border-vertical-spacing: 0px;
-webkit-font-smoothing: antialiased;
border-bottom-color: rgb(41, 41, 48);
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
border-bottom-style: none;
border-bottom-width: 0px;
border-collapse: collapse;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(41, 41, 48);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(41, 41, 48);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(41, 41, 48);
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
caption-side: bottom;
color: rgb(41, 41, 48);
cursor: auto;
display: inline;
font-family: "DM Sans", sans-serif;
font-size: 20px;
font-weight: 500;
height: 80px;
line-height: 34px;
max-width: 100%;
object-fit: cover;
text-align: start;
vertical-align: middle;
width: 80px;
}

.axil-product-table tbody td.product-title {
    -webkit-border-horizontal-spacing: 0px;
-webkit-border-vertical-spacing: 0px;
-webkit-font-smoothing: antialiased;
background-color: rgba(0, 0, 0, 0);
border-bottom-color: rgb(246, 247, 251);
border-bottom-style: solid;
border-bottom-width: 2px;
border-collapse: collapse;
border-left-color: rgb(0, 0, 0);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(0, 0, 0);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(0, 0, 0);
border-top-style: none;
border-top-width: 0px;
box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 9999px inset;
box-sizing: border-box;
caption-side: bottom;
color: rgb(0, 0, 0);
display: table-cell;
font-family: "DM Sans", sans-serif;
font-size: 20px;
font-weight: 500;
height: 111px;
line-height: 34px;
min-width: 150px;
padding-bottom: 15px;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
text-align: start;
vertical-align: middle;
width: 387px;
}

.axil-product-table tbody td.product-title a {
    -webkit-border-horizontal-spacing: 0px;
-webkit-border-vertical-spacing: 0px;
-webkit-font-smoothing: antialiased;
border-collapse: collapse;
box-sizing: border-box;
caption-side: bottom;
color: rgb(41, 41, 48);
cursor: auto;
display: inline;
font-family: "DM Sans", sans-serif;
font-size: 18.16701889038086px;
font-weight: 500;
height: auto;
line-height: 30.883934020996094px;
outline-color: rgb(41, 41, 48);
outline-style: none;
outline-width: 0px;
text-align: start;
text-decoration: none;
transition-delay: 0s;
transition-duration: 0.3s;
transition-property: all;
transition-timing-function: ease;
width: auto;
}

.axil-product-table tbody td {
    -webkit-border-horizontal-spacing: 0px;
-webkit-border-vertical-spacing: 0px;
-webkit-font-smoothing: antialiased;
background-color: rgba(0, 0, 0, 0);
border-bottom-color: rgb(246, 247, 251);
border-bottom-style: solid;
border-bottom-width: 2px;
border-collapse: collapse;
border-left-color: rgb(119, 119, 119);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(119, 119, 119);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(119, 119, 119);
border-top-style: none;
border-top-width: 0px;
box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 9999px inset;
box-sizing: border-box;
caption-side: bottom;
color: rgb(119, 119, 119);
display: table-cell;
font-family: "DM Sans", sans-serif;
font-size: 20px;
font-weight: 500;
height: 111px;
line-height: 34px;
min-width: 150px;
padding-bottom: 15px;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
text-align: start;
vertical-align: middle;
width: 233.3125px;
}

.axil-product-table.axil-cart-table .pro-qty {
    -webkit-border-horizontal-spacing: 0px;
-webkit-border-vertical-spacing: 0px;
-webkit-font-smoothing: antialiased;
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
border-collapse: collapse;
border-top-left-radius: 50px;
border-top-right-radius: 50px;
box-sizing: border-box;
caption-side: bottom;
color: rgb(119, 119, 119);
display: block;
font-family: "DM Sans", sans-serif;
font-size: 20px;
font-weight: 500;
height: 0px;
line-height: 34px;
text-align: start;
width: 203.3125px;
}

.axil-product-table.axil-cart-table .pro-qty .qtybtn {
    -webkit-border-horizontal-spacing: 0px;
-webkit-border-vertical-spacing: 0px;
-webkit-font-smoothing: antialiased;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(246, 247, 251);
background-image: none;
background-origin: padding-box;
background-position-x: 0%;
background-position-y: 0%;
background-size: auto;
border-bottom-color: rgba(0, 0, 0, 0);
border-bottom-left-radius: 50%;
border-bottom-right-radius: 50%;
border-bottom-style: solid;
border-bottom-width: 2px;
border-collapse: collapse;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgba(0, 0, 0, 0);
border-left-style: solid;
border-left-width: 2px;
border-right-color: rgba(0, 0, 0, 0);
border-right-style: solid;
border-right-width: 2px;
border-top-color: rgba(0, 0, 0, 0);
border-top-left-radius: 50%;
border-top-right-radius: 50%;
border-top-style: solid;
border-top-width: 2px;
box-sizing: border-box;
caption-side: bottom;
color: rgb(0, 0, 0);
cursor: pointer;
display: block;
float: left;
font-family: "DM Sans", sans-serif;
font-size: 18.350936889648438px;
font-weight: 500;
height: 32px;
line-height: 27px;
text-align: center;
transition-delay: 0s;
transition-duration: 0.3s;
transition-property: all;
transition-timing-function: ease;
width: 32px;
}

.axil-product-table.axil-cart-table .pro-qty input {
    -webkit-appearance: none;
-webkit-border-horizontal-spacing: 0px;
-webkit-border-vertical-spacing: 0px;
-webkit-box-shadow: none;
-webkit-font-smoothing: antialiased;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
background-attachment: scroll;
background-clip: border-box;
background-color: rgba(0, 0, 0, 0);
background-image: none;
background-origin: padding-box;
background-position-x: 0%;
background-position-y: 0%;
background-size: auto;
border-bottom-color: rgb(39, 39, 46);
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
border-bottom-style: none;
border-bottom-width: 0px;
border-collapse: collapse;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(39, 39, 46);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(39, 39, 46);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(39, 39, 46);
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-top-style: none;
border-top-width: 0px;
box-shadow: none;
box-sizing: border-box;
caption-side: bottom;
color: rgb(39, 39, 46);
cursor: auto;
display: block;
float: left;
font-family: "DM Sans", sans-serif;
font-size: 18px;
font-style: normal;
font-variant-caps: normal;
font-weight: 500;
height: 32px;
letter-spacing: normal;
line-height: 30px;
margin-bottom: 0px;
margin-left: 5px;
margin-right: 5px;
margin-top: 0px;
max-width: 100%;
min-width: 45px;
outline-color: rgb(39, 39, 46);
outline-style: none;
outline-width: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
text-align: center;
text-indent: 0px;
text-shadow: none;
text-transform: none;
transition-delay: 0s;
transition-duration: 0.4s;
transition-property: all;
transition-timing-function: ease-out;
vertical-align: baseline;
width: 45px;
word-spacing: 0px;
writing-mode: horizontal-tb;
}

input::-webkit-textfield-decoration-container {
    display: flex;
    align-items: center;
    content: none;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button;
    display: block;
    position: relative;
    cursor: default;
    height: 1.5em;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    -webkit-user-select: none;
}

.axil-product-table.axil-cart-table th:last-child, .axil-product-table.axil-cart-table td:last-child {
    -webkit-border-horizontal-spacing: 0px;
-webkit-border-vertical-spacing: 0px;
-webkit-font-smoothing: antialiased;
background-color: rgba(0, 0, 0, 0);
border-bottom-color: rgb(246, 247, 251);
border-bottom-style: solid;
border-bottom-width: 2px;
border-collapse: collapse;
border-left-color: rgb(119, 119, 119);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(119, 119, 119);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(119, 119, 119);
border-top-style: none;
border-top-width: 0px;
box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 9999px inset;
box-sizing: border-box;
caption-side: bottom;
color: rgb(119, 119, 119);
display: table-cell;
font-family: "DM Sans", sans-serif;
font-size: 20px;
font-weight: 500;
height: 111px;
line-height: 34px;
min-width: 150px;
padding-bottom: 15px;
padding-left: 15px;
padding-right: 50px;
padding-top: 15px;
text-align: right;
vertical-align: middle;
width: 233.3125px;
}

.axil-product-cart-wrap .cart-update-btn-area {
    column-gap: 30px;
    display: grid;
    grid-template-columns: 630px 630px;
}

.axil-product-cart-wrap .product-cupon {
    -webkit-font-smoothing: antialiased;
align-items: stretch;
box-sizing: border-box;
color: rgb(119, 119, 119);
display: flex;
flex-wrap: nowrap;
font-family: "DM Sans", sans-serif;
font-size: 16px;
font-weight: normal;
height: 63px;
line-height: 27.200000762939453px;
position: relative;
text-align: start;
width: 630px;
}

.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    -webkit-appearance: none;
-webkit-box-shadow: none;
-webkit-font-smoothing: antialiased;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-image: none;
background-origin: padding-box;
background-position-x: 0%;
background-position-y: 0%;
background-size: auto;
border-bottom-color: rgb(239, 239, 239);
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom-style: solid;
border-bottom-width: 2px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(41, 41, 48);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(41, 41, 48);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(41, 41, 48);
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-top-style: none;
border-top-width: 0px;
box-shadow: none;
box-sizing: border-box;
color: rgb(41, 41, 48);
cursor: auto;
display: block;
font-family: "DM Sans", sans-serif;
font-size: 14px;
font-style: normal;
font-variant-caps: normal;
font-weight: normal;
height: 63px;
letter-spacing: normal;
line-height: 60px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
max-width: 100%;
outline-color: rgb(41, 41, 48);
outline-style: none;
outline-width: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
text-align: start;
text-indent: 0px;
text-shadow: none;
text-transform: none;
transition-delay: 0s;
transition-duration: 0.4s;
transition-property: all;
transition-timing-function: ease-out;
vertical-align: baseline;
width: 484.21875px;
word-spacing: 0px;
writing-mode: horizontal-tb;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    -webkit-font-smoothing: antialiased;
border-bottom-left-radius: 0px;
border-top-left-radius: 0px;
box-sizing: border-box;
color: rgb(119, 119, 119);
display: block;
font-family: "DM Sans", sans-serif;
font-size: 16px;
font-weight: normal;
height: 63px;
line-height: 27.200000762939453px;
margin-left: 20px;
text-align: start;
width: 125.78125px;
}

.axil-product-cart-wrap .product-cupon .axil-btn {
    -webkit-appearance: none;
-webkit-font-smoothing: antialiased;
align-items: flex-start;
background-attachment: scroll;
background-clip: border-box;
background-color: rgba(0, 0, 0, 0);
background-image: none;
background-origin: padding-box;
background-position-x: 0%;
background-position-y: 0%;
background-size: auto;
border-bottom-color: rgb(239, 239, 239);
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
border-bottom-style: solid;
border-bottom-width: 2px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(239, 239, 239);
border-left-style: solid;
border-left-width: 2px;
border-right-color: rgb(239, 239, 239);
border-right-style: solid;
border-right-width: 2px;
border-top-color: rgb(239, 239, 239);
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-top-style: solid;
border-top-width: 2px;
box-sizing: border-box;
color: rgb(41, 41, 48);
cursor: pointer;
display: inline-block;
font-family: "DM Sans", sans-serif;
font-size: 16px;
font-style: normal;
font-variant-caps: normal;
font-weight: bold;
height: 63px;
letter-spacing: normal;
line-height: 27.200000762939453px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
max-width: 100%;
padding-bottom: 16px;
padding-left: 38px;
padding-right: 38px;
padding-top: 16px;
position: relative;
text-align: center;
text-indent: 0px;
text-shadow: none;
text-transform: none;
transition-delay: 0s;
transition-duration: 0.3s;
transition-property: all;
transition-timing-function: ease-in-out;
vertical-align: baseline;
width: 125.78125px;
word-spacing: 0px;
writing-mode: horizontal-tb;
z-index: 1;
}

.axil-product-cart-wrap .update-btn {
    -webkit-font-smoothing: antialiased;
box-sizing: border-box;
color: rgb(119, 119, 119);
display: block;
font-family: "DM Sans", sans-serif;
font-size: 16px;
font-weight: normal;
height: 63px;
line-height: 27.200000762939453px;
text-align: right;
width: 630px;
}

.axil-product-cart-wrap .update-btn .axil-btn {
    -webkit-font-smoothing: antialiased;
border-bottom-color: rgb(239, 239, 239);
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
border-bottom-style: solid;
border-bottom-width: 2px;
border-left-color: rgb(239, 239, 239);
border-left-style: solid;
border-left-width: 2px;
border-right-color: rgb(239, 239, 239);
border-right-style: solid;
border-right-width: 2px;
border-top-color: rgb(239, 239, 239);
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-top-style: solid;
border-top-width: 2px;
box-sizing: border-box;
color: rgb(41, 41, 48);
cursor: auto;
display: inline-block;
font-family: "DM Sans", sans-serif;
font-size: 16px;
font-weight: bold;
height: 63px;
line-height: 27.200000762939453px;
outline-color: rgb(41, 41, 48);
outline-style: none;
outline-width: 0px;
padding-bottom: 16px;
padding-left: 38px;
padding-right: 38px;
padding-top: 16px;
position: relative;
text-align: right;
text-decoration: none;
transition-delay: 0s;
transition-duration: 0.3s;
transition-property: all;
transition-timing-function: ease-in-out;
width: 174.890625px;
z-index: 1;
}
.mt--80 {
    -webkit-font-smoothing: antialiased;
background-color: rgb(249, 243, 240);
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
box-sizing: border-box;
color: rgb(119, 119, 119);
display: block;
font-family: "DM Sans", sans-serif;
font-size: 16px;
font-weight: normal;
height: 531px;
line-height: 27.200000762939453px;
margin-top: 80px;
padding-bottom: 40px;
padding-left: 40px;
padding-right: 40px;
padding-top: 40px;
text-align: start;
width: 520px;
}

.axil-order-summery .title {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    color: rgb(41, 41, 48);
    display: block;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    height: 26px;
    line-height: 26px;
    margin-block-end: 20px;
    margin-block-start: 0px;
    margin-bottom: 20px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-align: start;
    width: 440px;
    word-break: break-word;
}

.axil-order-summery .summery-table tbody {
    -webkit-border-horizontal-spacing: 0px;
-webkit-border-vertical-spacing: 0px;
-webkit-font-smoothing: antialiased;
border-bottom-color: rgb(222, 226, 230);
border-bottom-style: solid;
border-bottom-width: 0px;
border-collapse: collapse;
border-left-color: rgb(222, 226, 230);
border-left-style: solid;
border-left-width: 0px;
border-right-color: rgb(222, 226, 230);
border-right-style: solid;
border-right-width: 0px;
border-top-color: rgb(33, 37, 41);
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
caption-side: bottom;
color: rgb(33, 37, 41);
display: table-row-group;
font-family: "DM Sans", sans-serif;
font-size: 16px;
font-weight: normal;
height: 315.5px;
line-height: 27.200000762939453px;
text-align: start;
vertical-align: top;
width: 440px;
}

.axil-order-summery .summery-table tbody td {
    -webkit-border-horizontal-spacing: 0px;
-webkit-border-vertical-spacing: 0px;
-webkit-font-smoothing: antialiased;
background-color: rgba(0, 0, 0, 0);
border-bottom-color: rgba(101, 105, 115, 0.2);
border-bottom-style: solid;
border-bottom-width: 1px;
border-collapse: collapse;
border-left-color: rgba(101, 105, 115, 0.2);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgba(101, 105, 115, 0.2);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgba(101, 105, 115, 0.2);
border-top-style: none;
border-top-width: 0px;
box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 9999px inset;
box-sizing: border-box;
caption-side: bottom;
color: rgb(41, 41, 48);
display: table-cell;
font-family: "DM Sans", sans-serif;
font-size: 16px;
font-weight: 500;
height: 63.5px;
line-height: 27.200000762939453px;
min-width: 180px;
padding-bottom: 18px;
padding-left: 0px;
padding-right: 15px;
padding-top: 18px;
text-align: start;
vertical-align: top;
width: 220px;
}

.axil-order-summery .summery-table .order-shipping .input-group {
    -webkit-border-horizontal-spacing: 0px;
-webkit-border-vertical-spacing: 0px;
-webkit-font-smoothing: antialiased;
align-items: stretch;
border-collapse: collapse;
box-sizing: border-box;
caption-side: bottom;
color: rgb(41, 41, 48);
display: flex;
flex-wrap: wrap;
font-family: "DM Sans", sans-serif;
font-size: 16px;
font-weight: 500;
height: 20px;
line-height: 27.200000762939453px;
margin-bottom: 10px;
position: relative;
text-align: start;
width: 205px;
}

.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    -webkit-appearance: radio;
-webkit-border-horizontal-spacing: 0px;
-webkit-border-vertical-spacing: 0px;
-webkit-font-smoothing: antialiased;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(246, 247, 251);
background-image: none;
background-origin: padding-box;
background-position-x: 0%;
background-position-y: 0%;
background-size: auto;
border-bottom-color: rgb(41, 41, 48);
border-bottom-right-radius: 0px;
border-bottom-style: none;
border-bottom-width: 0px;
border-collapse: collapse;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(41, 41, 48);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(41, 41, 48);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(41, 41, 48);
border-top-right-radius: 0px;
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
caption-side: bottom;
color: rgb(41, 41, 48);
cursor: auto;
display: block;
font-family: "DM Sans", sans-serif;
font-size: 16px;
font-style: normal;
font-variant-caps: normal;
font-weight: normal;
height: 40px;
letter-spacing: normal;
line-height: normal;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
max-width: 100%;
opacity: 0;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: absolute;
text-align: start;
text-indent: 0px;
text-shadow: none;
text-transform: none;
transition-delay: 0s;
transition-duration: 0.4s;
transition-property: all;
transition-timing-function: ease-out;
vertical-align: baseline;
width: 205px;
word-spacing: 0px;
writing-mode: horizontal-tb;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    -webkit-border-horizontal-spacing: 0px;
-webkit-border-vertical-spacing: 0px;
-webkit-font-smoothing: antialiased;
border-bottom-left-radius: 0px;
border-collapse: collapse;
border-top-left-radius: 0px;
box-sizing: border-box;
caption-side: bottom;
color: rgb(41, 41, 48);
cursor: pointer;
display: block;
font-family: "DM Sans", sans-serif;
font-size: 16px;
font-weight: normal;
height: 20px;
line-height: 20px;
margin-left: -1px;
padding-left: 28px;
position: relative;
text-align: start;
width: 138.6875px;
}

.axil-order-summery .summery-table .order-shipping .input-group label:before {
    background-color: rgb(53, 119, 240);
border-bottom-color: rgb(213, 212, 212);
border-bottom-left-radius: 50%;
border-bottom-right-radius: 50%;
border-bottom-style: solid;
border-bottom-width: 2px;
border-left-color: rgb(213, 212, 212);
border-left-style: solid;
border-left-width: 2px;
border-right-color: rgb(213, 212, 212);
border-right-style: solid;
border-right-width: 2px;
border-top-color: rgb(213, 212, 212);
border-top-left-radius: 50%;
border-top-right-radius: 50%;
border-top-style: solid;
border-top-width: 2px;
box-sizing: border-box;
content: " ";
display: block;
height: 16px;
left: 0px;
position: absolute;
top: 2px;
transition-delay: 0s;
transition-duration: 0.3s;
transition-property: all;
transition-timing-function: ease;
width: 16px;
}

.axil-order-summery .summery-table .order-shipping .input-group label:after {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(53, 119, 240);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    border-bottom-color: rgb(41, 41, 48);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(41, 41, 48);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(41, 41, 48);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(41, 41, 48);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;
    content: " ";
    display: block;
    height: 8px;
    left: 4px;
    opacity: 1;
    position: absolute;
    top: 6px;
    transform: matrix(0.7071067811865476, -0.7071067811865475, 0.7071067811865475, 0.7071067811865476, 0, 0);
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease;
    width: 8px;
}

.axil-order-summery .summery-table .order-total-amount {
    -webkit-border-horizontal-spacing: 0px;
-webkit-border-vertical-spacing: 0px;
-webkit-font-smoothing: antialiased;
background-color: rgba(0, 0, 0, 0);
border-bottom-color: rgba(101, 105, 115, 0.2);
border-bottom-style: solid;
border-bottom-width: 1px;
border-collapse: collapse;
border-left-color: rgba(101, 105, 115, 0.2);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgba(101, 105, 115, 0.2);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgba(101, 105, 115, 0.2);
border-top-style: none;
border-top-width: 0px;
box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 9999px inset;
box-sizing: border-box;
caption-side: bottom;
color: rgb(53, 119, 240);
display: table-cell;
font-family: "DM Sans", sans-serif;
font-size: 20px;
font-weight: bold;
height: 71px;
line-height: 34px;
min-width: 180px;
padding-bottom: 18px;
padding-left: 0px;
padding-right: 15px;
padding-top: 18px;
text-align: start;
vertical-align: top;
width: 220px;
}

a.axil-btn.btn-bg-primary, button.axil-btn.btn-bg-primary {
    -webkit-font-smoothing: antialiased;
background-color: rgb(53, 119, 240);
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
box-sizing: border-box;
color: rgb(255, 255, 255);
cursor: auto;
display: inline-block;
font-family: "DM Sans", sans-serif;
font-size: 16px;
font-weight: bold;
height: 59px;
line-height: 27.200000762939453px;
outline-color: rgb(255, 255, 255);
outline-style: none;
outline-width: 0px;
padding-bottom: 16px;
padding-left: 38px;
padding-right: 38px;
padding-top: 16px;
position: relative;
text-align: center;
text-decoration: none;
transition-delay: 0s;
transition-duration: 0.3s;
transition-property: all;
transition-timing-function: ease-in-out;
width: 440px;
z-index: 1;
}