@media (max-width: 576px) {
    .nav-m {
      display: none !important;
    }
    .slick-prev {
      left: 5% !important;
      z-index: 2;
    }
    .slick-next {
      left: 90% !important;
    }
    .ex-foto {
      display: none;
    }
    .single-select {
      width: 90% !important;
    }
    .filter {
      display: block !important;
    }
    .usage {
      display: none;
    }
  }

  .row {
    padding-right: 60px;
  }
  header #search {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    font-size: 14px;
    padding-left: 50px;
    color: var(--color-heading);
    font-weight: 500;
    cursor: text;
    opacity: 0.5;
    height: 40px;
    padding: 0 15px;
    line-height: normal;
    outline: none;
    padding-left: 41px;
  }
  header .axil-search {
    position: relative;
  }
  header #searchicon {
    width: auto;
    position: absolute;
    top: 10px;
    left: 15px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    color: var(--color-heading);
    z-index: 1;
    outline: none;
    cursor: pointer;
    background: var(--color-lighter);
    border: 1px solid var(--color-border);
    transition: all 0.4s ease-out 0s;
  }
  
  #reklam {
    background-image: url(https://new.axilthemes.com/demo/template/etrade/assets/images/others/campaign-bg3.png);
  }
  #reklam .slick-prev {
    left: 32%;
    z-index: 2;
  }
  #reklam .slick-next {
    left: 68%;
  }
  #reklam .reklam div {
    color: white;
  }
  
  #Explore {
    background-color: #F8F8F8;
  }
  #Explore .breadcrumb {
    display: flex;
    padding: 0;
    margin: 0 0 15px;
    list-style: none;
    align-items: center;
  }
  #Explore .breadcrumb a {
    font-size: 16px;
    color: rgba(141, 145, 153, 0.8705882353);
    font-weight: 500;
  }
  #Explore .breadcrumb .acc {
    color: #4B9CF3;
    font-weight: 500;
  }
  #Explore .breadcrumb .sep {
    height: 11px;
    width: 2px;
    background-color: #e5e5e5;
    margin: 0 8px;
    font-weight: 500;
  }
  #Explore .title {
    margin-bottom: 0;
    font-size: 40px;
    word-break: break-word;
    line-height: 1.3;
    color: #292930;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  #Explore .photo {
    text-align: right;
    position: relative;
    z-index: 1;
  }
  
  #Shop .select-category {
    flex-wrap: wrap;
    margin: -10px;
  }
  #Shop .results-filter {
    margin: 10px;
    font-size: 16px;
    color: #000;
    font-weight: 500;
  }
  #Shop .single-select {
    margin: 10px;
    width: 23%;
    background-position-x: 95%;
    font-size: 16px;
    padding-right: 43px;
    font-weight: 500;
    transition: 0.3s;
    border: 2px solid #dadada;
    cursor: pointer;
    border-radius: 6px;
    height: 55px;
    padding: 0 30px;
    outline: none;
  }
  #Shop .card {
    margin: 0 20px;
  }
  #Shop .card .photo {
    overflow: hidden;
    position: relative;
  }
  #Shop .card .photo .card-action {
    position: absolute;
    display: flex;
    align-items: center;
    transition: 0.5s;
    justify-content: center;
    bottom: 0px;
    visibility: hidden;
    opacity: 0;
    left: px;
  }
  #Shop .card .photo .card-action li {
    list-style: none;
  }
  #Shop .card .photo .card-action li .add {
    color: #fff;
    background-color: rgba(255, 34, 71, 0.808);
  }
  #Shop .card .photo .card-action li a {
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 12px;
    background-color: white;
    margin: 0 3px;
  }
  #Shop .card img {
    transition: 0.5s;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #Shop .card {
    border: none;
    transition: 0.5s;
    overflow: hidden;
    cursor: pointer;
  }
  #Shop .card:hover img {
    transform: scale(1.1);
  }
  #Shop .card:hover .card-action {
    visibility: visible;
    opacity: 1;
    bottom: 31px;
  }
  #Shop a {
    transition: 0.7s;
    font-weight: 600;
    font-size: 16px;
    color: rgba(41, 41, 48, 0.6549019608);
  }
  #Shop .badget-product {
    line-height: 1;
    background-color: #3577F0;
    padding: 6px 10px 5px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    box-shadow: 0 8px 16px 0 rgba(53, 119, 240, 0.3);
    border-radius: 4px;
  }
  #Shop .label-right {
    left: auto;
    right: -10px;
    position: absolute;
    top: 24px;
  }
  #Shop .price {
    font-size: 20px;
  }
  #Shop .old-price {
    text-decoration: line-through;
    color: #d6d6d6;
    margin-left: 0;
  }
  #Shop .current-price {
    margin: 4px;
    color: rgba(41, 41, 48, 0.8470588235);
    font-weight: 700;
    font-size: 20px;
  }
  #Shop .btn:hover {
    transform: scale(1.1);
    background-color: #d4d4d4;
    border: none;
  }
  #Shop .products {
    padding-left: 15px;
    padding-right: 15px;
  }
  #Shop .sorts .sort {
    border-bottom: 1px solid #4B9CF3;
  }
  #Shop .sorts .sort h6 {
    font-size: 22px;
    font-weight: 500;
  }
  #Shop .sorts .sort i {
    cursor: pointer;
  }
  #Shop .sorts .sort-content li {
    margin-bottom: 10px;
    list-style: none;
    font-size: 16px;
    opacity: 0.8;
  }
  #Shop .sorts .sort-content li .radio {
    margin-right: 8px;
  }
  #Shop .sorts .sort-content .colors {
    display: flex;
    flex-wrap: wrap;
  }
  #Shop .sorts .sort-content .colors .color {
    margin: 0 8px 8px 0;
    height: 30px;
    width: 30px;
    line-height: 32px;
    border-radius: 50%;
  }
  #Shop .sorts .sort-content .colors .color a {
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #906145;
  }
  #Shop .sorts .sort-content .sizes li {
    display: inline-block;
    margin: 0 5px 10px 0;
  }
  #Shop .sorts .sort-content .sizes li a {
    background: #fff;
    border: 2px solid #f6f7fb;
    padding: 5px 13px;
    min-width: 44px;
    border-radius: 30px;
    min-height: 44px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 50%;
  }
  #Shop .sorts .sort-content .range {
    /* Functional styling;
     * These styles are required for noUiSlider to function.
     * You don't need to change these rules to apply your design.
     */
    /* Painting and performance;
     * Browsers can paint handles in their own layer.
     */
    /* Slider size and handle placement;
     */
    /* Styling;
     */
    /* Handles and cursors;
     */
    /* Disabled state;
     */
  }
  #Shop .sorts .sort-content .range .container {
    margin-top: 1px;
  }
  #Shop .sorts .sort-content .range .slider-labels {
    margin-top: 10px;
  }
  #Shop .sorts .sort-content .range .noUi-target, #Shop .sorts .sort-content .range .noUi-target * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    box-sizing: border-box;
  }
  #Shop .sorts .sort-content .range .noUi-target {
    position: relative;
    direction: ltr;
  }
  #Shop .sorts .sort-content .range .noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    /* Fix 401 */
  }
  #Shop .sorts .sort-content .range .noUi-origin {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
  }
  #Shop .sorts .sort-content .range .noUi-handle {
    position: relative;
    z-index: 1;
  }
  #Shop .sorts .sort-content .range .noUi-stacking .noUi-handle {
    /* This class is applied to the lower origin when
       its values is > 50%. */
    z-index: 10;
  }
  #Shop .sorts .sort-content .range .noUi-state-tap .noUi-origin {
    transition: left 0.3s, top 0.3s;
  }
  #Shop .sorts .sort-content .range .noUi-state-drag * {
    cursor: inherit !important;
  }
  #Shop .sorts .sort-content .range .noUi-base, #Shop .sorts .sort-content .range .noUi-handle {
    transform: translate3d(0, 0, 0);
  }
  #Shop .sorts .sort-content .range .noUi-horizontal {
    height: 4px;
  }
  #Shop .sorts .sort-content .range .noUi-horizontal .noUi-handle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    left: -7px;
    top: -7px;
    background-color: #345DBB;
  }
  #Shop .sorts .sort-content .range .noUi-background {
    background: #D6D7D9;
  }
  #Shop .sorts .sort-content .range .noUi-connect {
    background: #345DBB;
    transition: background 450ms;
  }
  #Shop .sorts .sort-content .range .noUi-origin {
    border-radius: 2px;
  }
  #Shop .sorts .sort-content .range .noUi-target {
    border-radius: 2px;
  }
  #Shop .sorts .sort-content .range .noUi-draggable {
    cursor: w-resize;
  }
  #Shop .sorts .sort-content .range .noUi-vertical .noUi-draggable {
    cursor: n-resize;
  }
  #Shop .sorts .sort-content .range .noUi-handle {
    cursor: default;
    box-sizing: content-box !important;
  }
  #Shop .sorts .sort-content .range .noUi-handle:active {
    border: 8px solid #345DBB;
    border: 8px solid rgba(53, 93, 187, 0.38);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    left: -14px;
    top: -14px;
  }
  #Shop .sorts .sort-content .range [disabled].noUi-connect, #Shop .sorts .sort-content .range [disabled] .noUi-connect {
    background: #B8B8B8;
  }
  #Shop .sorts .sort-content .range [disabled].noUi-origin, #Shop .sorts .sort-content .range [disabled] .noUi-handle {
    cursor: not-allowed;
  }
  #Shop .sorts .btn-reset {
    margin-top: 30px;
    border-radius: 6px;
    border: 1px solid transparent;
    color: #fff;
    font-weight: 700;
    padding: 16px 115px;
    display: inline-block;
    transition: 0.5s;
  }
  #Shop .sorts .btn-reset:hover {
    transform: scale(1.1);
  }
  
  .etrade {
    background-image: url(https://new.axilthemes.com/demo/template/etrade/assets/images/bg/bg-image-5.jpg) !important;
  }
  
  #button2 {
    display: inline-block;
    background-color: #3577F0;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  
  #button2::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  
  #button2:hover {
    cursor: pointer;
    background-color: #333;
  }
  
  #button2:active {
    background-color: #555;
  }
  
  #button2.show {
    opacity: 1;
    visibility: visible;
  }/*# sourceMappingURL=ShopWithStyle.css.map */